.autor {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
  text-align: justify;
  overflow-y: auto;
  min-height: 78.5vh;
  background-color: #1e1e1e;
}

.img-autor {
  width: 300px;
  height: 300px;
  border-radius: 15%;
  display: block;
  margin: 0 auto 20px;
  object-fit: cover;
}

.autor-h2 {
  color: #e04000;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.p-autor{
  color: white;
}

.h1-autor{
  color: white;
}

/* Responsividade */
@media (max-width: 768px) {
  .img-autor {
    width: 200px;
    height: 200px;
  }

  .autor-h2 {
    font-size: 1.5rem;
  }

  .autor p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .img-autor {
    width: 150px;
    height: 150px;
  }

  .autor {
    font-size: 0.95rem;
  }
}
