@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.home {
  background-image: url("https://i.postimg.cc/KjFVFRDt/fundo.jpg");
  background-size: cover;
  background-position: center;
  height: 90vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 15px;
}

.home-h1{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 4rem;
}

.utf{
  font-size: 0.7rem;
}
