.personagens {
  text-align: center;
  padding: 19.2vh;
  background-color: #1e1e1e;

}

.personagens .grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.personagens .card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #e04000;
  cursor: pointer;
}

.personagens .card p {
  margin-top: 10px;
  font-weight: bold;
  color: white;
}

.h1-personagens{
  color: #e04000;
}
